<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <appSettings>
      <add key="DocStaff" value="https://spreadsheets.google.com/feeds/list/1iwjEzKYGxf9xqLHAZpqB2NgLQXY0P3CzCu7mly_0WAs/oi6aeo0/private/full" />
      <add key="DocStd" value="https://spreadsheets.google.com/feeds/list/1zJFvp494lwoztfL7qa_pJv-A3x_Al0R3y0GND4x5bUY/oh842yb/private/full" />
        <add key="DBHost" value="127.0.0.1" />
        <add key="DBTarget" value="kmd" />
        <add key="DBTable" value="commentstb" />
        <add key="DBUser" value="root" />
      <add key="DBPWD" value="root" />
      <add key="ClientID" value="1094904936147-m8u7njivubhucrevr6r2ptdstb97njs6.apps.googleusercontent.com" />
      <add key="ClientSecret" value="dGmtJeOf9msDecUPHlMGpQo-" />
      <add key="Redirect" value="urn:ietf:wg:oauth:2.0:oob" />
      
      <!-- Share the target page with 886476726924-fd7fo2lk1fkeegf3s6bcpv8aclics6vj@developer.gserviceaccount.com-->
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>